.join-us {
  margin-right: 93px;
}
.join-us__title {
  color: $text-color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.join-us__social-list {
  margin-top: 20px;
  display: flex;
  list-style: none;
}
.join-us__social-link {
  margin-right: 10px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
    &:last-child{
      margin-right: 0;
    }
}
