
.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item:last-child {
    margin-left: 50px;
    }
}
.header-contacts__link {
    display: flex;
    align-items: center;

    color: $text-color-light;
    font-size: $p-font-size;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $primary-color;
    }
    }

.header-contacts__icon {
    margin-right: 10px;

    fill: currentColor;
    }


