.menu-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 20;
  &:hover,
  &:focus {
    fill: $primary-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

// .icon-cross:hover,
// .icon-cross:focus {
//   fill: $primary-color;
// }

// .icon-menu:hover,
// .icon-menu:focus {
//   fill: $primary-color;
// }

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
