.menu-container {
  &.is-open{
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 480px;
    height: 796px;

    background-color: #fff;
  }
  @media screen and (min-width: $tablet){
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
}