.section--gray-bg {
  background-color: $secondary-color;
}

.team {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.team__item {
  text-align: center;

  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: cover;
}
.team__wrapper {
  padding: 30px 0;
}
.team__title {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}
.team__text {
  margin-bottom: 16px;

  color: $text-color-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: $social-link-color;
  cursor: pointer;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $text-color-white;
    background-color: $primary-color;
  }
}
.social-list__icon {
  fill: #fff;
}
