.logo {
  color: $primary-color;
  font-family: $logo-font, sans-serif;
  font-size: $logo-font-size;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: $tablet){
    font-size: $logo-font-size;
    line-height: 1.166;
  }

  @media screen and (min-width: $desktop){
    font-size: $desktop-logo-font-size;
    line-height: 1.192;
  }
}

.logo__header {
  margin-right: auto;
  @media screen and (min-width: $tablet){
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop){
    margin-right: 93px;
}
}

.logo__dark {
  color: $text-color;
}
