// Кольори

$primary-color: #2196f3;
$secondary-color: #f5f4fa;
$footer-color: #2f303a;
$text-color-light: #757575;
$text-color-white: #ffffff;
$header-border: #ececec;
$hero-btn-hover: #188ce8;
$social-link-color: #afb1b8;
$text-color: #212121;

// Шрифти
$body-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// Розмір шрифту
$logo-font-size: 26px;
$h2-font-size: 36px;
$h3-font-size: 14px;
$p-font-size: 14px;
$h1-font-size: 44px;